.notify {
    position: absolute;
    font-size: 12px;
    top: -10px;
    left: 10px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-family: monospace;
}
.bell-btn{
    color: #6c757d;
}
.bell-btn i {
    font-size: 30px;
}
.bell-btn::after {
    display: none !important;
}
ul.header_nav_profile li {
    margin: 0px 10px;
}
.es-label {
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase !important;
    padding: .5rem !important;
    text-align: center !important
}
.custom-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .numberselected{
    height: 300px !important;
} */